.footer__column_content_copyright {
  list-style-type: none;
  padding-left: 0;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}
