@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
















.rotation {

}

















































.footer {
  min-height: 350px;
  background-color: #1f1f1f;
  display: flex;
}

.footer__columns {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  list-style-type: none;
  padding-left: 0;
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
}

.logo__place_footer {
  height: 35px;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
}

.footer__column_content_info {
  margin: 0;
  flex-direction: column;
}

.footer__column_content_social {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  flex-direction: column;
}

.footer__column-heading {
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #f2f2f2;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.footer__column-link {
  text-decoration: none;
  color: #f2f2f2;
}

.footer__social-icon {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  padding-left: 0;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
